.title {
  font-size: 42px;
  text-align: center;

  &--light {
    font-weight: 400;
  }

  &--bold {
    font-weight: 700;
  }

  &--color-white {
    color: #fff;
  }

  &--size-medium {
    font-size: 36px;
  }
}
