.container {
  width: 100%;
  margin: auto;
  height: 100vh;
  max-width: 468px;

  &--flex {
    display: flex;
  }

  &__content {
    height: 100%;
    position: relative;

    &--bg-pink {
      background: $pink;
    }
    &--bg-orange {
      background: $orange;
    }
    &--bg-brown {
      background: $brown;
    }
    &--text-center {
      text-align: center;
    }
    &--text-left {
      text-align: left;
    }
    &--align-center {
      margin: auto;
    }
  }

  &__text-sm {
    color: #fff;
    font-size: 16px;
  }

  &__text-md {
    color: #fff;
    font-size: 23px;
  }

  &__text-lg {
    color: #fff;
    font-size: 28px;
  }

  &__logo {
    margin: auto;
    display: block;
  }

  &__image {
    display: block;
    margin: 0 auto;

    &--size-md {
      width: 150px;
    }

    &--size-lg {
      width: 250px;
    }
  }
}
