.cart-list {
  &__item {
    position: relative;
    &--flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &--fixed-bottom {
      width: 90%;
      position: absolute;
      bottom: 0;
    }
  }

  &__row {
    margin: 10px 0;

    &--flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__col {
    &--align-center {
      text-align: center;
      span {
        cursor: pointer;
      }
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
  }

  &__price {
    font-size: 12px;
  }

  &__count {
    font-size: 16px;
    font-weight: 600;
  }

  &__total-text,
  &__total-price {
    font-size: 23px;
    font-weight: 700;
  }
  &__order-information {
    font-size: 12px;
  }
}
